* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.main {
  background-image: url("./img/background.jpeg");
  height: 500px;
  background-repeat: no-repeat, repeat;
  width: 100%;
  background-size: cover;
}
.navbar {
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ul {
  display: flex;
  align-items: center;
  /* justify-content: end; */
  padding: 15px;
}

.li {
  padding: 20px;
  list-style: none;
}
.li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.logo-image {
  cursor: pointer;

  width: 170px;
}

.li a:hover {
  color: #7b12d1;
}

.header-content {
  margin-left: 300px;
  width: 25%;
  color: white;
}

.header-content p {
  margin-top: 0.9rem;
}
.header-content button {
  margin-top: 1rem;
  padding: 0.7rem;
  font-weight: bold;
  border: none;

  border-radius: 5px;
}
.btn1 {
  background-color: yellow;
  color: black;
}
.btn1:hover {
  background-color: rgb(238, 238, 123);
}

.btn2 {
  background-color: rgb(70, 38, 70);
  color: white;
}
.btn2:hover {
  background-color: rgb(121, 68, 121);
}

.main-data {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-data-text {
  width: 40%;
  color: rgb(53, 49, 49);
}

.row {
  margin: 0 10rem;
}
.row-check {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  margin: auto;
  width: 14%;
  text-align: center;
}
h5 {
  line-height: 40px;
  font-weight: bold;
}
.btn11 {
  width: 10rem;
  font-weight: bold;
  background-color: rgb(224, 224, 52);
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}
.btn11:hover {
  background-color: rgb(233, 233, 10);
}
.btn12 {
  font-weight: bold;
  background-color: rgb(73, 73, 223);
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  width: 10rem;
}
.btn12:hover {
  background-color: rgb(22, 22, 223);
}
.btn13 {
  font-weight: bold;
  background-color: rgb(105, 26, 105);
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  width: 10rem;
}
.btn13:hover {
  background-color: rgb(202, 15, 202);
}

@media (max-width: 1213px) {
  .header-content {
    margin-left: 220px;
    width: 25%;
  }
}

/* ----------------------  */
.demo {
  padding: 50px 0;
}
.heading-title {
  margin-bottom: 50px;
}

.pricingTable {
  border: 2px solid #e3e3e3;
  text-align: center;
  position: relative;
  padding-bottom: 40px;
  transform: translateZ(0px);
}

.pricingTable:before,
.pricingTable:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  z-index: -1;
  transition: all 0.5s ease 0s;
}

.pricingTable:before {
  border-right: 2px solid #08c6aa;
  border-left: 2px solid #08c6aa;
  transform: scaleY(0);
  transform-origin: 100% 0 0;
}

.pricingTable:after {
  border-bottom: 2px solid #08c6aa;
  border-top: 2px solid #08c6aa;
  transform: scaleX(0);
  transform-origin: 0 100% 0;
}

.pricingTable:hover:before {
  transform: scaleY(1);
}

.pricingTable:hover:after {
  transform: scaleX(1);
}

.pricingTable .pricingTable-header {
  background: #08c6aa;
  color: #fff;
  margin: -2px -2px 35px;
  padding: 40px 0;
}

.pricingTable .heading {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.pricingTable .subtitle {
  font-size: 14px;
  display: block;
}

.pricingTable .price-value {
  font-size: 72px;
  font-weight: 600;
  margin-top: 10px;
  position: relative;
  display: inline-block;
}

.pricingTable .currency {
  font-size: 45px;
  font-weight: normal;
  position: absolute;
  top: 2px;
  left: -30px;
}

.pricingTable .month {
  font-size: 20px;
  position: absolute;
  bottom: 17px;
  right: -40px;
}

.pricingTable .pricing-content {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.pricingTable .pricing-content li {
  font-size: 16px;
  color: #7a7e82;
  line-height: 40px;
}

.pricingTable .read {
  display: inline-block;
  border: 2px solid #7a7e82;
  border-right: none;
  font-size: 14px;
  font-weight: 700;
  color: #7a7e82;
  padding: 9px 30px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.pricingTable .read:hover {
  border-color: #08c6aa;
  color: #08c6aa;
}

.pricingTable .read i {
  font-size: 19px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  right: 15px;
  transition: all 0.3s ease 0s;
}

.pricingTable .read:hover i {
  right: 5px;
}

.pricingTable .read:before,
.pricingTable .read:after {
  content: "";
  display: block;
  height: 30px;
  border-left: 2px solid #7a7e82;
  position: absolute;
  right: -11px;
  transition: all 0.3s ease 0s;
}

.pricingTable .read:before {
  bottom: -6px;
  transform: rotate(45deg);
}

.pricingTable .read:after {
  top: -6px;
  transform: rotate(-45deg);
}

.pricingTable .read:hover:before,
.pricingTable .read:hover:after {
  border-left-color: #08c6aa;
}

@media screen and (max-width: 990px) {
  .pricingTable {
    margin-bottom: 25px;
  }
}

.contact-area {
  margin-top: 70px;
  display: flex;
  max-height: 30rem;

  /* background-color: yellow; */
}
.contact-form {
  padding: 2rem;
  background-color: #ffff00da;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
}
form label {
  font-weight: bold;
  line-height: 2rem;
}
form input {
  width: 40%;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}
.message {
  width: 40%;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}
.button-class {
  font-weight: bold;
  margin-top: 0.8rem;
  width: 10%;
  border: none;
  border-radius: 10px;
}
footer {
  margin-top: 3rem;
  /* background-color: #7f7484; */
  font-size: 2rem;

  text-align: center;
  padding: 1rem;
}
